@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next{
    color: rgb(185, 117, 16);
}

.error404{
    background-image: url('./img/3.png');
    width: 100%;
}

.card404{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
